* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    list-style-type: none;
}
html,body{
    height: 100%;
    width: 100%;
}
@media(max-width:1000px){
    main,footer,.background{
        display: none;
    }
}
@media(max-width:785px){
    header .nav-main{
        height: 30px;
    }
    header .logo{
        height: 38px;
    }
    header .logo img{
        height: 38px;
    }
    header .nav-main ol{
        gap: 30px;
    }
    header .nav-main ol li a{
        font-size: 12px;
    }
}
@media(max-width:724px){
    main,footer,.background{
        display: none;
    }
    header .nav-main{
        height: 30px;
    }
    header .logo{
        height: 38px;
    }
    header .logo img{
        height: 38px;
    }
    header .nav-main ol{
        gap: 35px;
    }
    header .nav-main ol li a{
        font-size: 15px;
    }
}
@media(max-width:720px){

    main,footer,.background{
        display: none;
    }

    header .nav-main{
        height: 30px;
    }

    header .nav-main ol {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    header .logo{
        height: 40px;
    }
    header .logo img{
        height: 40px;
    }
    header .nav-main ol li a{
        font-size: 12px;
    }
}
@media(max-width:573px){
    header .logo{
        height: 25px;
    }
    header .logo img{
        height: 25px;
    }
}
@media(max-width:514px){
    header .nav-main{
        height: 25px;
    }
    header .nav-main ol{
        gap: 25px;
    }
    header .nav-main ol li a{
        font-size: 10px;
    }
    header .logo{
        height: 30px;
    }
    header .logo img{
        height: 30px;
    }

}

header{
    /* height: 80px; */
    /* background-color: black; */
    width: 100%;
}

.nav-bar i{
    font-size: 25px;
    font-weight: 600;
    align-items: left;
}
.nav-bar i:hover{
    color: #B19470;
}
.nav-main{
    background-color: rgb(167, 221, 243);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}


.nav-main ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.nav-main ol li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.nav-main ol a:hover {
    color: #B19470;
}


.logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 201, 240);
}

.logo img {
    height: 40px;
}

.heading {
    width: 100%;
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    margin-top: 25px;
    width: 100%;
    /* background-color: black; */
}

.content .picture{
    /* margin-top: 25px; */
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.picture .box{
    width: 100%;
    /* padding: 5px; */
    height: 520px;
    border-radius: 5px;
}
.picture .box figure{
    width: 370px;
    margin-left: 50px;
}
.picture .box figure img{
    height: 450px;
    width: 370px;
    object-fit: cover;
    object-position: top;
    border-radius: 9px;
}

.picture-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.picture-1 .box-1{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 520px;
    border-radius: 5px;
    font-size: 24px;
}

.picture-1 .box-1 figure img{
    height: 450px;
    width: 500px;
    object-fit: cover;
    object-position: top;
    border-radius: 9px;
}

.picture .video .box-2 figure video{
    height: 600px;
    width: 700px;
    object-fit: cover;
    object-position: top;
    border-radius: 9px;
}
.content  figcaption{
    font-size: 20px;
    font-weight: 30px;
    background-color: #d3c7b9;
}

.video{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 60px;
}
.box-2{
    max-width: 800px;
}


footer{
    
    width: 100%;
    background-color: blanchedalmond;
}

footer .box-1{
    height: 380px;
    background-color:rgb(103, 201, 240);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
footer .box-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

footer .box-1 ol li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 22px;
    font-family: sans-serif;
    padding: 8px;
}
footer .box-1 ol li:hover{
    color: rgb(75, 84, 163);
    cursor: pointer;
}
footer .details{
    height: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
footer .details strong{
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
}
footer .details p{
    font-size: 25px;
}
footer .details p strong{
    font-size: 20px;
}
 .box a{
    text-decoration: none;
    color: black;
} 
.box-1 ol li a:hover{
    color: rgb(75, 84, 163);
    cursor: pointer;
}

